<section class="content-section" id="portfolio2">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading text-center">
                    <h2 class="text-secondary mb-0">Results</h2>
                </div>
                <div class="row gx-0">
                   {% if file_url %}
                   <div class="col-lg-6">
                       <a class="portfolio-item" href="{% url 'qrreader:download-image' %}?url_image={{ file_url }}">
                           <div class="caption">
                               <div class="caption-content">
                                   <h1 style="color: #0c4128">Click to save</h1>
                                   <div class="h2">Data:</div>
                                   <p class="mb-0">{{ data }}</p>
                               </div>
                           </div>
                           <img class="img-fluid" src="{{ file_url }}" alt="..." />
                       </a>
                   </div>
                   {% endif %}
                </div>
            </div>
</section>