<section class="content-section" id="portfolio">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading text-center">
                    <h2 class="text-secondary mb-0">Results</h2>
                </div>
                <div class="row gx-0">
                   {% if file_url %}
                   <div class="col-lg-6">
                       {% if data == "Haven't any data" %}
                       <a class="portfolio-item" target="_blank" href="{% url 'qrreader:qr-main-page' %}">
                           {% elif data == "Wrong format" %}
                           <a class="portfolio-item" target="_blank" href="{% url 'qrreader:qr-main-page' %}">
                           {% else %}
                           <a class="portfolio-item" target="_blank" href="{{ data }}">
                           {% endif %}
                           <div class="caption">
                               <div class="caption-content">
                                   {% if data == "Haven't any data" %}
                                   {% elif data == "Wrong format" %}
                                   {% else %}
                                   <h1 style="color: #0c4128">Click to visit page</h1>
                                   {% endif %}
                                   <div class="h2">Data</div>
                                   <h1 style="color: #0c4128">{{ data }}</h1>
                               </div>
                           </div>
                           <img class="img-fluid" src="{{ file_url }}" alt="..." />
                       </a>
                   </div>
                   {% endif %}
                </div>
            </div>
</section>

